@import "../../../styles/_variables.scss";

.container {
  position: absolute;
  background-color: $light-grey;
  transition: transform 0.3s ease-in-out;

  &--right {
    transform: translateY(-150%);
  }

  &--left {
    transform: translateX(-106%);
  }
}
