<h1 mat-dialog-title>Global Parameters</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" *ngFor="let modelParameterConfig of data">
    <mat-label>{{ modelParameterConfig.label }}</mat-label>
    <input
      matInput
      [type]="modelParameterConfig.type"
      [(ngModel)]="modelParameterConfig.value"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    class="dialog-button btn-outline-secondary"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
  <button
    mat-button
    class="dialog-button"
    (click)="onsaveClick()"
    cdkFocusInitial
  >
    Save
  </button>
</div>
