<h1 mat-dialog-title>Remove</h1>
<div mat-dialog-content>
  <p>{{ data }}</p>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    class="dialog-button btn-outline-secondary"
    (click)="onNoClick()"
  >
    Cancel
  </button>
  <button
    mat-button
    class="dialog-button btn-danger"
    (click)="onOkClick()"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
