<div class="properties-wrapper" *ngIf="shape$ | async as shape">
  <mat-panel-title class="properties-title">Properties</mat-panel-title>
  <mat-accordion>
    <app-properties-form [shape]="shape"></app-properties-form>
  </mat-accordion>
</div>

<button
  *ngIf="shape$ | async as shape"
  mat-mini-fab
  class="cross-button"
  (click)="close()"
>



  <mat-icon>close</mat-icon>
</button>
