@import "../../../styles/_variables.scss";

:host {
  position: relative;
}

.properties-wrapper {
  min-width: 15vw;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  max-height: calc(85vh);

  .expansion-panel:not(:first-child) {
    margin-top: 1rem;
  }

  mat-panel-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .properties-title {
    margin: 0 0 1rem 0;
    text-align: center;
    display: block;
  }
}

.cross-button {
  position: absolute;
  top: 0;
  left: -3.5rem;
  background-color: $grey;
}
