@import "../../../styles/_variables.scss";

.button {
    background-color: $light-grey;
    text-align: left;
    min-height: 3.125rem;

    &--full-width {
        width: 100%;
    }

    &--circle {
        text-align: center;
    }

}

.button--aligned ::ng-deep span {
  display:flex;
  justify-content: space-between;
}

.icon-left {
    margin-right: .5rem;
}

.icon-right {
    margin-left: .5rem;
}
