<button
  *ngIf="unit.subtype !== 'node'"
  class="button button--full-width button--aligned"
  mat-raised-button
  (click)="buttonClicked.emit(this.unit)"
>
  <app-svg-icon
    *ngIf="isInputUnit"
    class="icon-left"
    [icon]="unit.subtype"
    width="25"
    height="30"
  >
  </app-svg-icon>

  <ng-container>{{ unit.label | titlecase }}</ng-container>

  <app-svg-icon
    *ngIf="!isInputUnit"
    class="icon-right"
    [icon]="unit.subtype"
    width="25"
    height="30"
  >
  </app-svg-icon>
</button>

<button
  *ngIf="unit.subtype === 'node'"
  class="button button--circle"
  (click)="buttonClicked.emit(this.unit)"
  mat-fab
>
  <ng-container>{{ unit.label | titlecase }}</ng-container>
</button>
