.panel {
    margin-top: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.panel2 {
    margin-bottom: 1%;
    margin-left: 0%;
    box-shadow: 0px;
//    background-color: #4E5C82;
//    color: white;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #5F7FDE;
    color:white;
  }
  @import "../../../styles/_variables.scss";

  .toolbar {
    border-bottom: solid $grey 0.2rem;
    background-color: $light-grey;
  
    &__title {
      flex: 1 1 auto;
      text-align: center;
    }
  }
  
  .toolbar button {
    margin-right: 0.35rem;
  }
  
  .blue {
    color: white;
    background-color: #3f51b5;
  }
  
  .red {
    color: white;
    background-color: #FE3D3D;
  }
  
  .toolbar-icon {
    font-size: 1.25rem;
  }
  
  .toolbar-input-open-file {
    visibility: hidden;
    width: 0rem;
    height: 0rem;
  }
  
/*
  ::ng-deep .mat-checkbox-inner-container {
      background-color: white;
  }

::ng-deep .mat-expansion-panel  {
    background-color: #4E5C82;
    color:white;
}

::ng-deep .mat-expansion-panel-body {
    background-color: #4E5C82;
    color:white;
}

::ng-deep .mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
    color: white;
}

::ng-deep .mat-expansion-panel-header{
    background-color: #4E5C82;
    color:white;

}

::ng-deep .mat-expansion-indicator::after{
    color:white;
}
*/

.container {
    display: flex;
    width: 100%;
    .bold {
        text-align: center;
    }
    
    h4{
        text-align: center;
    }

    .col{
        width: 25%;
    }

    .col2 {
        width: 30%;
        padding-left: 5%;
    }

    .col3{
        width: 40%;
        max-width: 40%;
    }

    img{
        max-width: 100%;
    }
}

.invisible {
    display: none;
}
