<mat-toolbar class="toolbar" *ngIf="getResult()" >
  <button mat-raised-button (click)="setBoard()">
    <mat-icon class="toolbar-icon">home</mat-icon>Home
  </button>
  <span class="toolbar__title">OMEGAlpes Web - Affichage des résultats</span>
<button mat-raised-button class="red" (click)="downloadAsPDF()">Export to PDF</button>
</mat-toolbar>
<div class="container">
    <div class="col">
      <mat-expansion-panel class="panel"  hideToggle [expanded]="true">
          <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
            <mat-panel-title class="title1">
              <h3>Affichage des données</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
              <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                <mat-panel-title>
                  <h4>Données générales</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let data of generalData">
                <mat-checkbox [checked]="data.IsChecked" (change)="data.IsChecked = !data.IsChecked">
                  {{data.Name}}
                </mat-checkbox>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0" *ngFor="let unit of units">
              <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                <mat-panel-title>
                  <h4>{{unit.variableName.name}}</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                  <mat-panel-title>
                    <h4>Scalaires</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox [checked]="unit.IsChecked" (change)="unit.IsChecked = !unit.IsChecked">
                  {{unit.variableName.name}}
                </mat-checkbox>
              </mat-expansion-panel>
              <mat-expansion-panel class="mat-elevation-z0" *ngIf="getProfilByUnit(unit)">
                <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                  <mat-panel-title>
                    <h4>Profils</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let plot of plots">
                  <mat-checkbox [checked]="plot.IsChecked" (change)="plot.IsChecked = !plot.IsChecked" *ngIf="plot.objectName.includes(unit.variableName.name)">
                    {{plot.objectName}}
                  </mat-checkbox>
                </div>
              </mat-expansion-panel>
          </mat-expansion-panel>
          <mat-expansion-panel class="mat-elevation-z0" *ngFor="let heatPump of heatPumps">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>
                <h4>{{heatPump.variableName.name}}</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>  
            <mat-expansion-panel class="mat-elevation-z0" *ngFor="let unit of heatPump.children">
              <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                <mat-panel-title>
                  <h4>{{unit.totalEnergyProduction.description}}</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>  
              <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                    <mat-panel-title>
                      <h4>Scalaires</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-checkbox [checked]="unit.IsChecked" (change)="unit.IsChecked = !unit.IsChecked">
                    {{unit.totalEnergyProduction.description}}
                  </mat-checkbox>
                </mat-expansion-panel>                          
          </mat-expansion-panel>        
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0" *ngIf="getNodes()">
            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
              <mat-panel-title>
                <h4>Profils des nodes</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let node of nodes">
              <div *ngFor="let plot of plots">
                <mat-checkbox [checked]="plot.IsChecked" (change)="plot.IsChecked = !plot.IsChecked" *ngIf="compare(node.nodeName, plot.objectName)">
                  {{plot.objectName}}
                </mat-checkbox>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-expansion-panel>
    </div>
    <div class="col2" id="pdfTable" #pdfTable>
      <h4><u>Affichage de la liste des données scalaires sélectionnées</u></h4>
      <br>
      <div *ngIf="getGeneralData()">
        <p class="bold"> <b>Données générales :</b> </p>
        <div *ngFor="let data of generalData">
          <p *ngIf="data.IsChecked && data.Name ==='Pas de temps '">{{data.Name}} : {{data.Value}} heure(s)</p>
          <p *ngIf="data.IsChecked && data.Name !='Pas de temps '">{{data.Name}} : {{data.Value}}</p>
        </div>
        <br>
        <div *ngIf="getBooleanProduction()">
          <p class="bold"> <b>Production Energy Unit :</b> </p>
          <br>
          <div *ngFor="let data of unitsProduction; let index = index">
            <div *ngIf="data.IsChecked">
              <b>{{index+1}}. {{data.variableName.name}}</b>
              <div *ngFor="let el of data | keyvalue:onCompare">
              <p *ngIf="el.key != 'IsChecked'">{{el.value.description}} : {{el.value.name}}{{el.value.unit}}</p>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div *ngIf="getBooleanConsumption()">
        <p class="bold"> <b>Consumption Energy Unit :</b> </p>
        <br>
        <div *ngFor="let data of unitsConsumption; let index = index">
          <div *ngIf="data.IsChecked">
            <b>{{index+1}}. {{data.variableName.name}}</b>
            <div *ngFor="let el of data | keyvalue:onCompare">
            <p *ngIf="el.key != 'IsChecked'">{{el.value.description}} : {{el.value.name}}{{el.value.unit}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="getBooleanStorage()">
        <p class="bold"> <b>Storage Unit :</b> </p>
        <br>
        <div *ngFor="let data of unitsStorage; let index = index">
          <div *ngIf="data.IsChecked">
            <b>{{index+1}}. {{data.variableName.name}}</b>
            <div *ngFor="let el of data | keyvalue:onCompare">
            <p *ngIf="el.key != 'IsChecked'">{{el.value.description}} : {{el.value.name}}{{el.value.unit}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="getBooleanHeatPump()">
        <p class="bold"> <b>Heat Pump :</b> </p>
        <br>
        <div *ngFor="let heatPump of heatPumps">
          <div *ngFor="let unit of heatPump.children">
            <p *ngIf="unit.IsChecked">{{unit.totalEnergyProduction.description}} : {{unit.totalEnergyProduction.name}} {{unit.totalEnergyProduction.unit}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col3" id="pdfTabl" #pdfTabl *ngIf="getPlotIsChecked()">
      <h4><u>Affichage des profils</u></h4>
      <div *ngFor="let data of imageToShow; let index = index">
        <img *ngIf="plots[index].IsChecked"[src]="data">
      </div>
    </div>
</div>



