<mat-toolbar class="toolbar">
    <button mat-raised-button (click)="setBoard()">
      <mat-icon class="toolbar-icon">home</mat-icon>Home
    </button>
    <span class="toolbar__title">OMEGAlpes Web - CodeEditor</span>
    <button mat-raised-button (click)="save()" class="green">
      <mat-icon class="toolbar-icon">save</mat-icon>Save
    </button>
    <a [href]="fileUrl" download="OMEGAlpes_script.py" *ngIf="getSave()">
    <button mat-raised-button class="red">
      <mat-icon class="toolbar-icon">save_alt</mat-icon>Download Script
    </button></a>
    <button mat-raised-button class="blue" *ngIf="getSave()" (click)="executeScript()">
      <mat-icon class="toolbar-icon">play_circle_filled</mat-icon> Execute script
    </button>

</mat-toolbar>
<div 
      class="app-ace-editor"
      #editor
      style="width: 100%;height: 750px"
    ></div>