

      @import "../../../styles/_variables.scss";

.toolbar {
  border-bottom: solid $grey 0.2rem;
  background-color: $light-grey;

  &__title {
    flex: 1 1 auto;
    text-align: center;
  }
}

.toolbar button {
  margin-right: 0.35rem;
}

.blue {
  color: white;
  background-color: #3f51b5;
}

.green {
    color: white;
    background-color: rgb(37, 124, 81);
  }

.red {
  color: white;
  background-color: #D82D32;
}

.toolbar-icon {
  font-size: 1.25rem;
}

.toolbar-input-open-file {
  visibility: hidden;
  width: 0rem;
  height: 0rem;
}
