<mat-toolbar class="toolbar" *ngIf="getBoard()">
  <button mat-raised-button (click)="openFileClick()" [matTooltip]="'Import'">
    <mat-icon class="toolbar-icon" >open_in_browser</mat-icon>
  </button>

  <button mat-raised-button (click)="saveFile()" [matTooltip]="'Save'">
    <mat-icon class="toolbar-icon" >save_alt</mat-icon>
  </button>

  <button mat-raised-button (click)="exportImage()" [matTooltip]="'Screen'">
    <mat-icon class="toolbar-icon" >photo_camera</mat-icon>
  </button>

  <button mat-raised-button (click)="cleanCanvas()" [matTooltip]="'Clear'">
    <mat-icon class="toolbar-icon" >delete_outline</mat-icon>
  </button>
  <button mat-raised-button (click)="setSettings()" [matTooltip]="'Summary'">
    <mat-icon class="toolbar-icon" >info</mat-icon>
  </button>



  <span class="toolbar__title">OMEGAlpes Web</span>

  <button mat-raised-button (click)="centerView()" [matTooltip]="'Center focus'">
    <mat-icon class="toolbar-icon" >center_focus_strong</mat-icon>
  </button>

  <button mat-raised-button (click)="openGlobalProperties()" [matTooltip]="'Global parameters'">
    <mat-icon class="toolbar-icon" >settings</mat-icon>
  </button>

  <button mat-raised-button class="blue" (click)="execute()">
    <mat-icon class="toolbar-icon">skip_next</mat-icon> Execute
  </button>

  <button mat-raised-button class="blue" (click)="generateScript()">
    <mat-icon class="toolbar-icon">code</mat-icon> Edit
  </button>

  <button mat-raised-button class="blue" (click)="generate()">
    <mat-icon class="toolbar-icon">play_circle_filled</mat-icon> Generate
  </button>
</mat-toolbar>


