<h1 mat-dialog-title>{{ data.title }}</h1>
<div class="container">
  <mat-label>Production</mat-label>
  <mat-radio-group [(ngModel)]="productionSelected.type" name="production">
    <mat-radio-button value="FixedProductionUnit">Fixed</mat-radio-button>
    <mat-radio-button value="VariableProductionUnit">Variable</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="outline" *ngIf="!isHeatPump()">
    <mat-label>Energy type</mat-label>
    <mat-card class="card-energy-production">
      <mat-select
        [(ngModel)]="productionSelected.energyType"
        (selectionChange)="changeColorProduction()"
      >
        <mat-option
          *ngFor="let energy of energies"
          [value]="energy"
        >
          {{ energy.energy }}
        </mat-option>
      </mat-select>
    </mat-card>
  </mat-form-field>
  <mat-label>Consumption</mat-label>
  <mat-radio-group [(ngModel)]="consumptionSelected.type" name="consumption">
    <mat-radio-button value="FixedConsumptionUnit">Fixed</mat-radio-button>
    <mat-radio-button value="VariableConsumptionUnit">Variable</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="outline" *ngIf="!isHeatPump()">
    <mat-label>Energy type</mat-label>
    <mat-card class="card-energy-consumption">
      <mat-select
        [(ngModel)]="consumptionSelected.energyType"
        (selectionChange)="changeColorConsumption()"
      >
        <mat-option
          *ngFor="let energy of energies"
          [value]="energy"
        >
          {{ energy.energy }}
        </mat-option>
      </mat-select>
    </mat-card>
  </mat-form-field>
  <div *ngIf="isHeatPump()">
    <mat-radio-group [(ngModel)]="secondConsumptionSelected.type" name="secondConsumption">
      <mat-radio-button value="FixedConsumptionUnit">Fixed</mat-radio-button>
      <mat-radio-button value="VariableConsumptionUnit">Variable</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-label>Parameters</mat-label>
  <mat-form-field appearance="outline" *ngIf="!isHeatPump()">
    <mat-label>Consumption to production ratio</mat-label>
    <mat-card>
      <input
        matInput
        [(ngModel)]="consumptionToProductionEnter"
      />
    </mat-card>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="isHeatPump()">
    <mat-label>Power output</mat-label>
    <mat-card>
      <input
        matInput
        [(ngModel)]="powerOutputEnter"
      />
    </mat-card>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="isHeatPump()">
    <mat-label>Coefficient Of Performance</mat-label>
    <mat-card>
      <input
        matInput
        [(ngModel)]="coefficientOfPerformanceEnter"
      />
    </mat-card>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="isHeatPump()">
    <mat-label>Losses as a percentage</mat-label>
    <mat-card>
      <input
        matInput
        [(ngModel)]="lossesAsPercentageEnter"
      />
    </mat-card>
  </mat-form-field>
  <div mat-dialog-actions>
    <button
      mat-button
      class="dialog-button btn-outline-secondary"
      (click)="onNoClick()"
    >
      Cancel
    </button>
    <button
      mat-button
      class="dialog-button btn-danger"
      (click)="onOkClick()"
    >
      Ok
    </button>
  </div>
</div>
