.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.card-energy-production {
  background-color: var(--colorPropertyProduction);

  ::ng-deep .mat-select-value {
    color: var(--colorTextProduction) !important;
  }
}

.card-energy-consumption {
  background-color: var(--colorPropertyConsumption);

  ::ng-deep .mat-select-value {
    color: var(--colorTextConsumption) !important;
  }
}
