<mat-expansion-panel [formGroup]="constraintsGroup">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ constraintsGroupConfig.type }} constraints
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div
    *ngFor="let constraint of constraintsGroupConfig.constraints"
    class="constraint"
    [formGroupName]="constraint.constraint_name"
  >
    <div class="constraint__checkbox">
      <mat-checkbox formControlName="active">
        {{ constraint.label | titlecase }}
      </mat-checkbox>
      <mat-icon *ngIf="constraint.tooltip" [matTooltip]="constraint.tooltip"
        >info</mat-icon
      >
    </div>

    <mat-expansion-panel
      *ngIf="isActive(constraint.constraint_name)"
      formGroupName="parameters"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Parameters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let parameter of constraint.parameters">
        <mat-form-field>
          <mat-label>{{ parameter.label | titlecase }}</mat-label>
          <input
            matInput
            [formControlName]="parameter.name"
            [required]="parameter.required"
            [type]="parameter.type"
          />
        </mat-form-field>
        <mat-icon *ngIf="parameter.tooltip" [matTooltip]="parameter.tooltip"
          >info</mat-icon
        >
      </div>
    </mat-expansion-panel>
  </div>
</mat-expansion-panel>
