<div [formGroup]="parametersGroup">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Parameters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="isSingle()">
      <div *ngFor="let parameter of parametersSingle">
        <mat-form-field>
          <mat-label>{{ parameter.label | titlecase }}</mat-label>
          <input
            matInput
            [formControlName]="parameter.name"
            [required]="parameter.required"
            [type]="parameter.type"
          />
        </mat-form-field>
        <mat-icon *ngIf="parameter.tooltip" [matTooltip]="parameter.tooltip"
        >info</mat-icon
        >
      </div>
    </div>
    <div *ngIf="!isSingle()">
      <div *ngFor="let parameter of parametersConfig">
        <mat-form-field>
          <mat-label>{{ parameter.label | titlecase }}</mat-label>
          <input
            matInput
            [formControlName]="parameter.name"
            [required]="parameter.required"
            [type]="parameter.type"
          />
        </mat-form-field>
        <mat-icon *ngIf="parameter.tooltip" [matTooltip]="parameter.tooltip"
          >info</mat-icon
        >
      </div>
    </div>
  </mat-expansion-panel>
</div>
