<div>

    <!-- header page tool menu -->
    <app-toolbar></app-toolbar>

    <!-- board page -->
    <app-board *ngIf="getBoard()"></app-board>

    <app-result *ngIf="getResult()"></app-result>
    <app-code-editor *ngIf="getCodeEditor()"></app-code-editor>
    <app-settings *ngIf="getSettings()"></app-settings>

</div>

<app-sprite></app-sprite>