<svg class="visually-hidden" xmlns="http://www.w3.org/2000/svg">
  <symbol id="icon-unspecified" style="background-color: white">
    <polygon class="energyColor" points="0,7 25,15 0,23" style="fill:#000000" />
  </symbol>

  <symbol id="icon-fixed" style="background-color: white">
    <polygon class="energyColor" points="0,7 25,15 0,23" style="fill:#000000" />
    <line
      class="energyColor"
      x1="0"
      x2="25"
      y1="26"
      y2="26"
      style="stroke:#000000; stroke-width:2"
    />
  </symbol>

  <symbol id="icon-storage" style="background-color: white">
    <polygon
      class="energyColor"
      points="0,7 25,23 25,7 0,23"
      style="fill:#000000"
    />
  </symbol>

  <symbol id="icon-reversible" style="background-color: white">
    <polygon
      class="energyColor"
      points="12 6, 22 16, 12 26, 2 16"
      style="fill:#000000"
    />
  </symbol>


  <symbol id="icon-single" style="background-color: white">
    <circle cx="8" cy="17" r="7"
            fill="white"  stroke="black" stroke-width="2" class="energyColor"
    />
    <circle cx="17" cy="17" r="7"
            fill="white" stroke="black" stroke-width="2"  class="energyColor"
    />
  </symbol>
  <symbol id="icon-conversion" style="background-color: white">
    <circle cx="12" cy="17" r="11"
            fill="white"  stroke="black" stroke-width="2" class="energyColor"
    />
    <polygon class="energyColor" points="6 16, 12 6, 18 16" style="fill:#000000" />
  </symbol>

  <symbol id="icon-variable" style="background-color: white">
    <defs>
      <marker
        viewBox="0 0 10 10"
        markerWidth="10"
        markerHeight="10"
        orient="auto"
        refX="3"
        refY="2"
        id="arrow"
      >
        <polygon points="0,0,4,2,0,4" fill="#000000"></polygon>
      </marker>
    </defs>
    <g width="33" height="38">
      <polygon
        class="energyColor"
        points="0,7 25,15 0,23"
        style="fill:#000000"
      />
      <line
        x1="5"
        x2="20"
        y1="29"
        y2="1"
        stroke="#000000"
        style="stroke-width: 2"
        marker-end="url(#arrow)"
      ></line>
    </g>
  </symbol>
</svg>
