@import "../../../styles/_variables.scss";

.toolbar {
border-bottom: solid $grey 0.2rem;
background-color: $light-grey;

&__title {
    flex: 1 1 auto;
    text-align: center;
}
}

.toolbar button {
margin-right: 0.35rem;
}

.toolbar-icon {
font-size: 1.25rem;
}

.toolbar-input-open-file {
visibility: hidden;
width: 0rem;
height: 0rem;
}


.container {
    display: flex;
    width: 100%;
    .bold {
        text-align: center;
    }
    
    h4{
        text-align: center;
    }

    .col{
        width: 25%;
    }

    .col2 {
        width: 30%;
        padding-left: 5%;
    }

    .col3{
        width: 40%;
        max-width: 40%;
    }
}

.invisible {
    display: none;
}

.panel {
    margin-top: 1%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.div2 {
    margin-left: 10%;
}
      