<mat-toolbar class="toolbar">
    <button mat-raised-button (click)="setBoard()">
      <mat-icon class="toolbar-icon">home</mat-icon>Home
    </button>
    <span class="toolbar__title">OMEGAlpes Web - Caractéristiques</span>
</mat-toolbar>
<div class="container">
    <div class="col">
      <mat-expansion-panel class="panel"  hideToggle [expanded]="true">
          <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
            <mat-panel-title class="title1"> 
              <h3>Liste des Units</h3>
            </mat-panel-title>      
          </mat-expansion-panel-header>        
            <div *ngFor="let element of unitName; let index = index;">
                <input [name]="index" type="radio" [value]="index" [(ngModel)]="unitSelectedIndex" (change)="getPropertiesUnit()"> 
                <b>{{element}}</b>
            </div>
        </mat-expansion-panel>
    </div>
    <div class="col2">
        <h3 *ngIf="isEmpty(unitSelectedProperties)">Liste des paramètres :</h3>
        <div *ngFor="let properties of unitSelectedProperties" class="div1">
            <br>    
            <b>{{properties.name}}</b> : {{properties.value}}
            <br>
        </div>
    </div>
    <div class="col3">
        <h3 *ngIf="isEmpty(unitSelectedNodes)">Liste des units connectées :</h3>
        <div *ngFor="let node of unitSelectedNodes; let index = index" class="div1">
            <br>    
            <b>{{index+1}}. {{node}}</b>
            <br>
        </div>
        <h3 *ngIf="isEmpty(unitSelectedObjectives)">Liste des objectifs :</h3>
        <div *ngFor="let objectif of unitSelectedObjectives; let index = index;"  class="div1">
            <br>
            <b>{{index+1}} : </b>{{objectif.name}}
            <br>
        </div>        
        <br>
        <h3 *ngIf="isEmpty(unitSelectedConstraints)">Liste des contraintes :</h3>
        <div *ngFor="let constraints of unitSelectedConstraints; let index = index;"  class="div1">
            <br>
            <b>{{index+1}} : </b>{{constraints.name}}
            <div *ngFor="let properties of constraints.properties"  class="div2">
                <br>
                    <b>{{properties.name}}</b> : {{properties.value}}
                <br>
            </div>
            <br>
        </div>        
    </div>
</div>