@import "../../../styles/_variables.scss";

:root {
  --colorProperty: $grey;
  --colorText: black;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  position: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .button-remove {
    background-color: $danger;
    color: #ffffff;
    margin-right: 0.5rem;
    flex: 1;
  }

  .button-save {
    background-color: $save;
    color: #ffffff;
    flex: 1;

    &--disabled {
      background-color: transparentize(grey, 0.7);
    }
  }
}



mat-expansion-panel {
  margin-bottom: 1rem !important;
}

mat-icon {
  color: darkgrey;
  font-size: 1.2rem;
}

.card-energy {
  background-color: var(--colorProperty);
}

::ng-deep .mat-select-value {
  color: var(--colorText) !important;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--colorProperty);
}

.importCSV {
  text-align: center;
  margin-left: 25%;
  margin-bottom: 3%;
}
.card-energy-consumption {
   background-color: var(--colorPropertyCons);
   ::ng-deep .mat-select-value {
      color: var(--colorTextCons) !important;
   }
}

.card-energy-production {
   background-color: var(--colorPropertyProd);
   ::ng-deep .mat-select-value {
      color: var(--colorTextProd) !important;
   }
}
