<button mat-stroked-button (click)="openFileCSVClick()" class="importCSV" *ngIf="getNode()">
  <mat-icon class="toolbar-icon" >description</mat-icon> Import CSV
</button>
<form [formGroup]="unitForm" (ngSubmit)="save()" class="form-group">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <mat-card>
      <input matInput formControlName="name" id="unitName"/>
    </mat-card>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="!isConversionUnit && !isReversible() && !isSingleUnit && !isReversibleConversion()">
    <mat-label>Energy type</mat-label>
    <mat-card class="card-energy">
      <mat-select
        formControlName="energy_type"
        (valueChange)="changeSelectedEnergy($event)"
      >
        <mat-option
          *ngFor="let energy of unitConfig.energies"
          [value]="energy.energy"
        >
          {{ energy.energy }}
        </mat-option>
      </mat-select>
    </mat-card>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="isReversible()">
    <mat-label>Energy type consumption</mat-label>
    <mat-card class="card-energy-consumption">
      <mat-select
        formControlName="energy_type_cons"
        (valueChange)="changeConsSelectedEnergy($event)"
      >
        <mat-option
          *ngFor="let energy of unitConfig.energies"
          [value]="energy.energy"
        >
          {{ energy.energy }}
        </mat-option>
      </mat-select>
    </mat-card>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="isReversible()">
    <mat-label>Energy type production</mat-label>
    <mat-card class="card-energy-production">
      <mat-select
        formControlName="energy_type_prod"
        (valueChange)="changeProdSelectedEnergy($event)"
      >
        <mat-option
          *ngFor="let energy of unitConfig.energies"
          [value]="energy.energy"
        >
          {{ energy.energy }}
        </mat-option>
      </mat-select>
    </mat-card>
  </mat-form-field>

  <ng-container *ngIf="unitParameters.length > 0 && isChild()">
    <app-form-part-parameters
      [parametersGroup]="getFormGroupParameters()"
      [parametersConfig]="unitParameters"
    ></app-form-part-parameters>
  </ng-container>
  <app-form-part-objectives
    *ngFor="
      let formGroupObjective of getFormGroupsObjectives();
      let index = index
    "
    [objectivesGroup]="formGroupObjective"
    [objectiveGroupConfig]="unitConfig.objectives_groups[index]"
  ></app-form-part-objectives>
  <app-form-part-constraints
    *ngFor="
      let formGroupConstraint of getFormGroupsConstraints();
      let index = index
    "
    [constraintsGroup]="formGroupConstraint"
    [constraintsGroupConfig]="unitConfig.constraints_groups[index]"
  ></app-form-part-constraints>

  <div class="buttons-container">
    <button
      class="button-remove"
      (click)="delete()"
      type="button"
      mat-raised-button
    >
      Delete
    </button>

    <button
      class="button-save"
      type="submit"
      [disabled]="!unitForm.valid"
      [class.button-save--disabled]="!unitForm.valid"
      mat-raised-button
    >
      Save
    </button>
  </div>
</form>
