@import "../../../styles/_variables.scss";

:host {
  display: block;
  height: 0;
}

.canvas-wrapper {
  width: 100%;
  height: calc(100vh - 64px - 0.2rem);
  background-size: 1.25rem 1.25rem;
  background-image: radial-gradient(
    circle,
    $grey 0.0625rem,
    rgba(0, 0, 0, 0) 0.125rem
  );
  text-align: center; // tmp
}
