<mat-expansion-panel [formGroup]="objectivesGroup">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ objectiveGroupConfig.type }} objectives
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="disjoint-objective"
    *ngFor="let disjointObjectives of objectiveGroupConfig.disjoint_objectives"
  >
    {{ disjointObjectives.label | titlecase }}
    <div
         *ngFor="let disjointObjective of disjointObjectives.objectives"
         [formGroupName]="disjointObjective.name">
      <div class="disjoint-objective__checkbox">
        <mat-checkbox formControlName="active"
        (change)="checkboxClick(disjointObjective.name,disjointObjectives)"
        >
          {{ disjointObjective.label | titlecase }}
        </mat-checkbox>
        <mat-icon
        *ngIf="disjointObjectives.tooltip"
        [matTooltip]="disjointObjectives.tooltip"
        >info</mat-icon
        >
      </div>
    </div>
  </div>

  <div *ngIf="isReversible()">
    <div
      *ngFor="let objective of objectiveGroupConfig.objectives"
      class="objective"
      [formGroupName]="objective.name"
    >
      <div class="objective__checkbox">
        <mat-checkbox formControlName="active"
        >
          {{ objective.label | titlecase }}
        </mat-checkbox>
        <mat-icon *ngIf="objective.tooltip" [matTooltip]="objective.tooltip"
        >info</mat-icon
        >
      </div>
    </div>
  </div>

  <div *ngIf="!isReversible()">
  <div
    *ngFor="let objective of objectiveGroupConfig.objectives"
    class="objective"
    [formGroupName]="objective.name"
  >
    <div class="objective__checkbox">
    <mat-checkbox formControlName="active">
      {{ objective.label | titlecase }}
    </mat-checkbox>
    <mat-icon *ngIf="objective.tooltip" [matTooltip]="objective.tooltip"
      >info</mat-icon
    >
    </div>

    <mat-expansion-panel
      *ngIf="isActive(objective.name) && objective.parameters.length != 0"
      formGroupName="parameters"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Parameters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let parameter of objective.parameters">
        <mat-form-field>
          <mat-label>{{ parameter.label | titlecase }}</mat-label>
          <input
            matInput
            [formControlName]="parameter.name"
            [required]="parameter.required"
            [type]="parameter.type"
          />
        </mat-form-field>
        <mat-icon *ngIf="parameter.tooltip" [matTooltip]="parameter.tooltip"
        >info</mat-icon
        >
      </div>
    </mat-expansion-panel>
  </div>
  </div>
</mat-expansion-panel>
