.disjoint-objective {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  &__checkbox {
    display: flex;
    margin-left: 0.5rem;
  }
}

.objective {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;

  &__checkbox {
    display: flex;
    margin-bottom: .5rem;
  }
}

mat-expansion-panel {
  margin-bottom: 1rem !important;
}

mat-icon {
  color: darkgrey;
  font-size: 1.2rem;
}

mat-checkbox {
  display:block;
  margin-right: 0.5rem;
}
