@import "../../../styles/_variables.scss";

:host {
  position: relative;
  display: block;
}

.shapes-menu-wrapper {
  min-width: 15vw;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0 0.5rem 0 rgba(0, 0, 0, 0.5);

  &--loading {
    display: flex;
    justify-content: space-evenly;
  }

  .expansion-panel:not(:first-child) {
    margin-top: 1rem;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: -0.5rem;
    text-align: center;
  }

  app-shape-button {
    margin-top: 0.5rem;
  }
}

.cross-button {
  position: absolute;
  top: 0;
  right: -3.5rem;
  background-color: $grey;
}
