<div class="shapes-menu-wrapper">
  <mat-accordion>
    <p
      class="shapes-menu-wrapper--loading"
      *ngIf="!unitGroups || unitGroups.length === 0"
    >
      <mat-icon>cached</mat-icon>
      loading menu...
    </p>

    <mat-expansion-panel
      *ngFor="let unitGroup of unitGroups"
      class="expansion-panel"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ unitGroup.group_name | titlecase }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="buttons-container">
        <app-shape-button
          *ngFor="let unit of unitGroup.units"
          [groupName]="unitGroup.group_name"
          [unit]="unit"
          (buttonClicked)="createUnitInstance($event)"
        >
        </app-shape-button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<button mat-mini-fab class="cross-button" (click)="openCloseShapesMenu.emit()">
  <mat-icon *ngIf="!isVisible">menu</mat-icon>
  <mat-icon *ngIf="isVisible">chevron_left</mat-icon>
</button>
