@import "../styles/_variables.scss";
svg {
  .element_group {
    cursor: grab;


    .connector {
      display: none;
    }

    .connector.active, &:hover .connector {
      display: block;
      cursor: pointer;
    }
  }

  &.createLink {
    cursor: pointer;
  }




  .link {
    & > * {
      cursor:pointer;
    }

    .backArrow {
      stroke: transparent;
      stroke-width: 10;
    }

    &:hover {
      .backArrow {
        stroke: rgba(255,0,0,0.1);
      }

      .core {
        stroke-width: 4;
      }
    }

  }


    .colored {
      fill: #D9D9D9;
    }

    .coloredStroke {
      stroke: #D9D9D9;
    }

    .connector {
      stroke: $dark-grey;
      stroke-width: 2;
    }

    .coloredConversion {
      fill: #81D31A
    }
}

