/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden;
  // stylelint-disable unit-blacklist
  width: 0.0625rem;
  height: 0.0625rem;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  // stylelint-enable unit-blacklist
}

.visually-hidden {
  // https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  @include visually-hidden;
}

@import "assets/svg.scss";

.blue-snackbar {
  background: #2196F3;
}

.red-snackbar {
  background: #F44336;
  color: white;
  .mat-simple-snackbar-action {
    color: white !important;
}
}
