@import "../../../styles/_variables.scss";

.dashboard-wrapper {
  position: relative;

  &__shapes-menu-button {
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    background-color: $grey;
  }
}
