<div class="dashboard-wrapper">
  <app-lateral-panel
    [isVisible]="isShapesMenuVisible"
    [isRightPanel]="false"
    top="1.5rem"
    left=".5rem"
  >
    <app-shapes-menu
      [isVisible]="isShapesMenuVisible"
      (openCloseShapesMenu)="isShapesMenuVisible = !isShapesMenuVisible"
    ></app-shapes-menu>
  </app-lateral-panel>

  <app-canvas
    (displayShapesMenu)="isShapesMenuVisible = !isShapesMenuVisible"
  ></app-canvas>

  <app-lateral-panel
    id="panel_properties"
    [isVisible]="isPropertiesVisible$ | async"
    [isRightPanel]="true"
    top="1.5rem"
    right=".5rem"
  >
    <app-properties></app-properties>
  </app-lateral-panel>
</div>
